<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Updates</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.sindresorhus.githubnotifier</string>
			<key>Developer Identifier</key>
			<string>YG56YK5RN5</string>
			<key>CFBundleVersion</key>
			<string>1.1.2</string>
			<key>CFBundleShortVersionString</key>
			<string>1.1.2</string>
			<key>URL</key>
			<string>https://raw.githubusercontent.com/sindresorhus/notifier-for-github-safari/master/Notifier%20for%20GitHub.safariextz?raw=true</string>
		</dict>
	</array>
</dict>
</plist>
